:root {
  --orange1: #FB8645;
  --blue1: #D9F6FF;
  --blue2: #92E4FF;
  --blue3: #1993F2;
  --blue4: #2862C7;
  --lightblue: #C4E5FF;
  --lightgreen: #CDF9FB;
  --green1: #0CA789;
  --green2: #8FD14F;
  --green3: #12CDD4;
  --yellow1: #FAC710;
  --red1: #F24726;
  --lightred: #FEDFDA;
  --gray1: #3C3C3C;
  --gray2: #707070;
  --gray3: #ACACAC;
  --white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
  
.general-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: all .3s ease;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s ease;
}

.page-enter, .page-leave-active {
  opacity: 0
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.general-button {
  font-size: 1.4rem;
  color: white;
  width: 100%;
  padding: 0.7rem 0;
  border-radius: 13px;
  border:rgba(0, 0, 0, 0) 0.2rem solid;
}

.general-button.orange {
  background-color: var(--orange1);
  transition: all 0.4s ease;
}

.general-button.orange:hover {
  border-color: var(--orange1);
  background: rgba(0, 0, 0, 0);
  color: var(--orange1);
  transition: all 0.4s ease;
}

.general-button.blue {
  background-color: var(--blue4);
  transition: all 0.4s ease;
}

.general-button.blue:hover {
  border-color: var(--blue4);
  background: rgba(0, 0, 0, 0);
  color: var(--blue4);
  transition: all 0.4s ease;
}

button:active,
button:focus,
input:active,
input:focus {
  outline: none;
}